<div class="survey-item-container">
  <div class="survey-header">
    <h3 class="survey-title">{{ survey.title }}</h3>
    <p class="survey-description">{{ survey.description }}</p>
  </div>

  <div class="survey-editions">
    <div class="years-header" (click)="survey.surveyEditions[0]?.id && navigateToChapters(survey.surveyEditions[0].id)" style="cursor: pointer">
      {{ survey.surveyEditions[0]?.year }} ... {{ survey.surveyEditions[survey.surveyEditions.length - 1]?.year }}
    </div>

    @if (!survey.surveyEditions.length) {
      <p class="no-editions">No editions available.</p>
    }
  </div>
  <div class="survey-actions">
    <button class="btn edit-btn">Edit</button>
    <button class="btn delete-btn">Delete</button>
  </div>
</div>


